<div>
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-xs">Lorem ipsum dolor <span highlight>sit amet consectetur adipisicing elit.</span>  Reprehenderit sed totam repellat modi ex, aliquid voluptatibus consectetur fugit inventore commodi ducimus nobis? Tenetur laboriosam quibusdam esse! Magnam provident inventore rem voluptatibus. Voluptatum itaque alias, perferendis sequi minus odit odio laudantium quaerat nemo possimus consequatur illum quae natus dolorem provident facere?</p>
  <p class="text-xs">Numero de clientes @if (duration() > 0) {
    <app-counter [duration]="duration()" [message]="message()"></app-counter>
  }</p>
  <div>
    <app-wave-audio audioUrl="assets/audio-prueba.mp3"></app-wave-audio>
  </div>
</div>