<nav class="w-full bg-white shadow-lg">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between py-4">
      <!-- Logo y título -->
      <a routerLink="/" class="flex items-center space-x-3">
        <img src="assets/Logo.png" class="h-6" alt="Flowbite Logo">
        <span class="text-xl font-semibold">Shopping</span>
      </a>

      <!-- Enlaces de navegación -->
      <ul class="flex space-x-6">
        <li>
          <a routerLink="/" routerLinkActive="underline" [routerLinkActiveOptions]="{exact: true}"
            class="block hover:underline" aria-current="page">Home</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="underline" class="block hover:underline">About</a>
        </li>
        <li>
          <a routerLink="/services" routerLinkActive="underline" class="block hover:underline">Services</a>
        </li>
      </ul>

      <!-- Icono del carrito -->
      <button class="relative p-2 border rounded focus:outline-none" (click)="toogleSideMenu()">
        <!-- Contador de ítems en el carrito -->
        <div
          class="absolute -top-2 -left-2 rounded-full bg-black text-white text-xs w-5 h-5 flex items-center justify-center">
          {{ cart().length }}</div>
        <!-- Icono del carrito -->
        <svg _ngcontent-ng-c4260526963="" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path _ngcontent-ng-c4260526963="" stroke-linecap="round" stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z">
          </path>
        </svg>
      </button>
    </div>
  </div>
</nav>




<!-- CARRITO DE COMPRAS -->
<div class="fixed border-l-4 top-0 right-0 bg-red z-40 w-72 h-screen p-4 overflow-y-auto transition-transform bg-white"
     [class.translate-x-full]="hideSideMenu()">
  <div class="flex justify-between items-center mb-4">
    <p class="text-lg font-semibold text-gray-900 dark:text-white">My Cart</p>
    <button (click)="toogleSideMenu()" class="text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
  <hr class="border-t border-gray-300 mb-4">
  <div class="flex flex-col items-center">
    <!-- Iteración sobre los productos en el carrito -->
    @for (product of cart(); track product.id) {
      <div class="w-full max-w-xl my-4 overflow-hidden bg-white border border-gray-200 rounded-lg shadow-md hover:shadow-lg dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 flex flex-row items-center">
        <a href="#" class="block transition duration-300 ease-in-out transform hover:scale-105">
          <img [src]="product.images[0]" alt="Product Image" class="object-cover w-20 h-20 md:w-24 md:h-24 rounded-lg">
        </a>
        <div class="flex-grow p-4">
          <div class="flex justify-between items-center mb-2">
            <h5 class="text-sm md:text-sm font-semibold text-gray-900 dark:text-white">{{ product.title }}</h5>
            <button class="text-red-500 hover:text-red-700">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M8.293 10l-3.646 3.646a.5.5 0 00.708.708L10 10.707l3.646 3.647a.5.5 0 10.708-.708L10.707 10l3.647-3.646a.5.5 0 00-.708-.708L10 9.293 6.354 5.646a.5.5 0 00-.708.708L9.293 10 5.646 13.646a.5.5 0 00.708.708L10 10.707l3.646 3.647a.5.5 0 00.708-.708L10.707 10l3.647-3.646a.5.5 0 00-.708-.708L10 9.293 6.354 5.646a.5.5 0 00-.708.708L9.293 10z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
          <p class="text-gray-700 dark:text-gray-400">{{ product.price | currency }}</p>
        </div>
      </div>
    }

    <!-- Línea divisoria -->
    <hr class="border-t border-gray-300 my-4">

    <!-- Total del carrito -->
    <div class="flex items-center justify-between w-full px-4">
      <p class="text-base md:text-lg font-semibold text-gray-900 dark:text-white">Total:</p>
      <p class="text-lg font-bold text-gray-900 dark:text-white">{{ total() | currency: '$' : 'symbol' : '1.0'}}</p>
    </div>
  </div>
</div>




