<section class="bg-white h-screen w-screen flex items-center justify-center">
    <div class="max-w-screen-sm px-4 text-center">
      <h2 class="mb-4 text-6xl lg:text-8xl font-extrabold text-primary-600">404</h2>
      <p class="mb-4 text-3xl lg:text-4xl font-bold text-gray-900">Something's missing.</p>
      <p class="mb-6 text-lg text-gray-500">Sorry, we can't find that page. You'll find lots to explore on the home page.</p>
      <a routerLink="/" class="inline-block bg-blue-600 hover:bg-blue-800 text-white font-medium rounded-lg px-6 py-3 text-sm">Back to Homepage</a>
    </div>
  </section>
  